
<div class="col-md-12 banner">
  <div class="col-md-4 cajaLogin">



    <!-- SESION CERRADA -->
    <div class="col-md-12" *ngIf="!auth.isAuthenticated()" >
      <h2 class="col-md-12 title-page">Acceso</h2>
      <h5 class="col-md-12">
          <i class="fas fa-exclamation-triangle"></i> ¡Usted no se ha identificado!
      </h5>
      <h4 class="col-md-12" style="text-align: center">Por favor <a (click)="auth.login()">Iniciar Sesión</a> para continuar. </h4>
      <button class=" col-md-12 btnSesion btn btn-primary my-2 my-sm-0" (click)="auth.login()">Iniciar Sesión</button>
    </div>
    <!-- fin sesion cerrada -->

    <!-- SESION ABIERTA -->
    <div class="col-md-12" *ngIf="auth.isAuthenticated()">
      <h3 class="subtitle-page">Conoce tu nuevo </h3>
      <h1 class="title-page title-verde">Portal Mutual</h1> 
      <p>Mutual de Seguros de Chile te invita a conocer el nuevo sitio, "Mi Portal Mutual".</p>
      <button class="btn btnSesion btn-primary">Ver más</button>
    </div>
    <!-- fin sesion abierta -->

  </div>
</div>



<div class="col-md-12 container-body">
    <h3 class="subtitle-page">Bienvenido</h3>
    <h1 class="title-page">Mutual de Seguros de Chile</h1>
    <hr class="line-title">
</div>
  


  <div id="hiw-login-container"></div>