<div class="col-md-12 container-body">

    <div class="col-md-12">
        <h3 class="subtitle-page">MI </h3>
        <h1 class="title-page">Perfil</h1> 
        <hr class="line-title">   
    </div>

    <div class="col-md-12 row panel">
        <div class="col-md-4 panel-left-profile">
            <div class="col-md-12">
                <img class="img-circle img-profile" src="{{profile?.picture}}">
            </div>
            
            <div class="col-md-12 tit-name-profile"><h3>{{ profile?.name }}</h3></div>

            <div class="col-md-12 text-actualizacion-profile">
                <div class="col-md-12"><p> <i class="far fa-calendar-alt"></i> Última actualización: </p></div>
                <div class="col-md-12"><p>{{ profile?.updated_at }}</p></div>
            </div>
        </div>
        

        <div class="col-md-8">

            <div class="col-md-12 text-tit-profile">
                <h2>Datos asociados a "Mi Portal Mutual"</h2>
            </div>

            <div class="col-md-12 row-data-profile">
                <div class="col-md-4"> <h3> <i class="fas fa-caret-right icoBullet"></i> Nickname: </h3></div>
                <div class="col-md-8"><h3>{{ profile?.nickname }}</h3></div>
            </div>

            <div class="col-md-12 row-data-profile">
                <div class="col-md-4"><h3> <i class="fas fa-caret-right icoBullet"></i> Nombre:</h3></div>   
                <div class="col-md-8"><h3>{{ profile?.given_name }}</h3></div>
            </div>

            <div class="col-md-12 row-data-profile">
                <div class="col-md-4"><h3> <i class="fas fa-caret-right icoBullet"></i> Apellido:</h3></div>  
                <div class="col-md-8"><h3>{{ profile?.family_name }}</h3></div> 
            </div>

            <div class="col-md-12 row-data-profile">
                <div class="col-md-4"><h3> <i class="fas fa-caret-right icoBullet"></i> Email:</h3></div>  
                <div class="col-md-8"><h3>{{ profile?.email }}</h3></div> 
            </div>

            <div class="col-md-12 row-data-profile">
                <div class="col-md-4"><h3> <i class="fas fa-caret-right icoBullet"></i> Género:</h3></div>  
                <div class="col-md-8"><h3>{{ profile?.gender }}</h3></div> 
            </div>

            <div class="col-md-12 row-data-profile">
                <div class="col-md-4"><h3> <i class="fas fa-caret-right icoBullet"></i> Lugar:</h3></div>  
                <div class="col-md-8"><h3>{{ profile?.locale }}</h3></div> 
            </div>

            <div class="col-md-12 row-data-profile">
                <div class="col-md-4"><h3> <i class="fas fa-caret-right icoBullet"></i> ID de usuario:</h3></div>  
                <div class="col-md-8"><h3>{{ profile?.user_id }}</h3></div> 
            </div>
        </div>

    </div>

</div>