<div class="col-md-12 container-body">

  <div class="col-md-6">
          <h3 class="subtitle-page">¿Tienes alguna duda? </h3>
          <h1 class="title-page">Contáctanos</h1> 
          <hr class="line-title">

          <h4>Para estar siempre cerca entregándote el servicio y soluciones que necesitas, ingresa tus datos en el cuestionario de contacto y te responderemos a la brevedad.
          </h4>
            * Todos los campos son obligatorios.

    <!-- form goes here -->
    <form (ngSubmit)="processForm()">

      <!-- name -->
      <div class="field">
        <label>Nombre Completo *</label>
        <input type="text" name="name" class="input" placeholder="Ingresa tu nombre completo" 
        [(ngModel)]="name" required minlength="3" #nameInput="ngModel">

        <div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
            ¡El nombre es obligatorio y debe tener al menos 3 caracteres!
        </div>

      </div>
    
      <!-- email -->
      <div class="field">
        <label>Correo electrónico *</label>
        <input type="email" name="email" class="input" placeholder="nombre@dominio.cl" 
        [(ngModel)]="email" required email #emailInput="ngModel">

        <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
            ¡Debe ser un correo electrónico válido!
        </div>

      </div>
    
      <!-- message -->
      <div class="field">
        <label>Mensaje</label>
        <textarea class="textarea" name="message" placeholder="¿Cuál es tu consulta?" 
        [(ngModel)]="message" required #messageInput="ngModel"></textarea>

        <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
          ¡El mensaje es obligatorio!
        </div>

      </div>
    

      <button type="submit" class="button is-danger is-large">Enviar</button>
    
    </form>
  </div>

  <div class="col-md-6">
    <div class="main-panel-ayuda">
      <div class="panel-ayuda">
        <div class="tit-ayuda">Te Ayudamos</div>
      </div>

      <div class="cont-ayuda">
          <h4>Queremos resolver tus dudas y entregar la mejor asesoría sobre tus seguros de vida, ahorro e inversión.</h4>
      </div>
    </div>
  </div>
</div>