<nav class="navbar navbar-dark">
  <div class="container-fluid">

    <div class="col-md-4">
      <a class="navbar-left navbar-brand" href="#">
       <img class="" style="width: 180px; margin-top: -20px; padding-right: 6px" src="./../assets/logo-mutual-seguros.png">
      </a>
    </div>

    <div class="col-md-8 navbar-right">
      <form class="form-inline">

        <div class="btn-home" routerLink="/">
          <i class="fas fa-home"></i>
        </div>

        <i class="far fa-envelope-open btn-home" routerLink="/contacto"></i>

        <button class="btn btn-primary my-2 my-sm-0 mr-2 btn-mi-portal" routerLink="/profile" type="button" *ngIf="auth.isAuthenticated()">
          <i class="far fa-user"></i> Mi Perfil
        </button>

        <button id="qsLoginBtn"
          class="btn btn-primary my-2 my-sm-0 btn-mi-portal"
          *ngIf="!auth.isAuthenticated()"
          (click)="auth.login()" type="button">
          <i class="far fa-user"></i> Mi Portal Mutual
        </button>

        <!-- SESION ABIERTA -->
        <div class="holauser" *ngIf="auth.isAuthenticated()">
            Hola ¡Has iniciado sesión!
        </div>
        <!-- fin sesion abierta -->

        <button id="qsLogoutBtn"
          class="btn-salir"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()" type="button">
          <i class="fas fa-sign-out-alt"></i> <h6 style="display: inline-block; vertical-align: middle">Salir</h6>
        </button>

      </form>
  </div>
  </div>
</nav>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>


<div class="prefooter">
  <h2>MUTUAL de SEGUROS de CHILE</h2>
  <h4>SOMOS GENTE DE SEGUROS</h4>
</div>

<footer>
  <p>Molina Nº 446, Valparaíso - Chile / Contact Center 600 626 7311 / © 2019, Mutual de Seguros de Chile. Todos los Derechos Reservados</p>
</footer>
