/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
  color: black !important;
}
a:active, a:active * { outline: none !important; -moz-outline-style: none !important; }
label {
  display: block;
  font-size: 18px;
  padding-top: 11px;
  margin-bottom: 0px;
}
input{
  margin:0px;
  width: 100%;
  font-size: 22px;
  padding: 3px 10px;
  border: 1px solid #1A8DBE;
  border-radius: 11px;
  background: rgb(255, 255, 255, 0.2);
}
textarea{
  width: 100%;
  font-size: 22px;
  padding: 3px 10px;
  border: 1px solid #1A8DBE;
  border-radius: 11px;
  background: rgb(255, 255, 255, 0.2);
}
button{
background: #1A8DBE;
font-size: 22px;
color: #fff;
padding: 6px 33px;
border-radius: 55px;
border: 2px solid #fff;

}
button:hover{
  background: rgb(52, 172, 223);
}

.auth0-lock-name{
  color: red;
}

.img-profile{
  width:50%; 
  border:3px solid #1A8DBE;
}

.btnSesion{
width: 100%;
font-size: 22px;
}

/*h2{
  color: #1768A6;
}*/

 /* main {
  padding-top: 3.5rem;
}*/
body{
  background: #DEDEE0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #495D69;
}
.prefooter{
  padding: 10px 10%;
  background: #1768A6;
  text-align: center;
  color: #DEDEE0;
}
.prefooter h2,h4{
  margin: 0px;
}
footer{
  padding: 10px 10%;
  text-align: center;
}


/* MENU */
.navbar{
  background: rgb(255, 255, 255);
  border-bottom: 3px solid #1A8DBE;
  padding: 10px 10%;
  margin:0px;
}
.navbar-right{
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  
}
.btn-home{
  background: none;
  color:#495D69;
  box-shadow: none;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 5px;
  display: inline-block;
}
.btn-mi-portal{
  background: #56AF36;
  color: white;
  border-radius: 50px;
  margin: 0px 15px;
  margin-top: -10px;

}
.holauser{
  margin-top: 10px;
  margin-right: 5px;
  font-weight: bold;
  display: inline-block;
  font-size: 15px;
}
.btn-salir{
  background: none;
  color:#495D69;
  box-shadow: none;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 5px;
}
/* fin menu*/

.container{
  margin: 0px 0%;
  padding: 0px 0px;
  width: 100% !important;
}
.banner{
  background-image: url("./assets/back-index.jpg");
  background-size: cover;
  /*border-radius: 10px 50px 10px 10px;*/
  padding: 50px 10%;
  margin:0px;
}
.cajaLogin{
  background: rgb(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
}
.container-body{
  padding: 50px 10%;
}
.subtitle-page{
  padding: 0px;
  margin: 0px;
  color: #1A8DBE;
}
.title-page{
  margin: 0px;
  padding: 0px;
  color: #495D69;
  font-weight: bolder;
}
.title-verde{
  color: #56AF36;
}
.line-title{
  border-bottom: 4px solid #F28C11;
  width:20%;
  margin-top: 0px;
  margin-left: 0px;
  padding-bottom: 11px;
  margin-bottom: 22px;
}
.panel{
  padding: 11px;
  background: rgb(231, 231, 231);
  border-radius: 10px;
  margin: 22px 0px;
}
.panel-left-profile{
  text-align: center;
}
.main-panel-ayuda{
  background: #fff;
  border: 1px solid #999;
  border-radius: 22px 55px 22px 22px;
  padding: 0px;
  margin: 0px 44px;
}
.panel-ayuda{
  background: #1768A6;
  border: 1px solid #999;
  border-radius: 22px 55px 0px 0px;

  padding: 44px;
  margin: 0px 0px;
  color: #fff;

  background-image: url("./assets/back-index.jpg");
  background-size: cover;
}

.row-data-profile{
  border-bottom: 1px solid #999;
}

/* TEXTOS */

.tit-ayuda{
  font-size: 33px;
}
.tit-name-profile{
  font-weight: bold; 
  color: #1A8DBE;
}
.text-actualizacion-profile{
  border-bottom: 1px solid #999;
}
.text-tit-profile{
  border-bottom: 1px solid #999; 
  font-weight: bold; 
  margin-bottom: 11px;
}
.cont-ayuda{
  font-size: 22px;
  padding: 44px;
  color:  #1768A6;
}

/* ICONOS */

.icoBullet{
  padding-right: 11px;
}

@media screen and (max-width: 600px) {
  .navbar{
    padding: 10px 0%;
  }
  .banner{
    padding: 10px 10px;
  }
}